<!-- Three -->
<section id="three" class="wrapper style3 special">
    <div class="inner">
        <header class="major">
            <h2>Who you will learn from</h2>
            <p>Everything that  the Journalism Entrepreneurship Training Company offers is delivered personally and passionately by me, Phillip Smith. I am a certified Lean Stack coach. I’ve enjoyed a 20-year career as a technology and business entrepreneur. I’ve mentored more than a dozen reporter-led startups to help them build a path to sustainability. Much of what I know I learned as the CTO of an award-winning digital newsroom.</p>
            <ul class="actions special">
                <li><a href="/experience" class="button secondary">Learn more &raquo;</a></li>
            </ul>
        </header>
    </div>
</section>
