<!-- CTA -->
<section id="cta" class="wrapper style4" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{{ page.image }}'); height: 300px; background-attachment: fixed; background-position: center; background-repeat: no-repeat; background-size: cover;">
    <div class="inner">
        <header>
            <h2>Let's talk</h2>
             <p>The path to your 1000 true fans starts today. <br />I can't wait to hear about your project, and to help you get there.</p>
        </header>
        <ul class="actions stacked">
            <li><a href="#" class="button fit primary">Contact</a></li>
            <li><a href="#" class="button fit">Learn more &raquo;</a></li>
        </ul>
    </div>
</section>
