<!DOCTYPE HTML>
<html>
    <head>
        {% include head.html %} 
    </head>
    <body class="landing is-preload" id="{{ page.slug }}">
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5GNDK3X"
                height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->

        <!-- Page Wrapper -->
        <div id="page-wrapper">

            {% include header.html %}

            <!-- Banner -->
            <section id="banner">
                <div class="inner">
                    <h2>A Judgment Day<br />
                        For Journalism</h2>
                    <div>
                        <p>The watchdog function of journalism is being eroded. What are the impacts on society, on democracy, when that happens?</p>
                    </div>
                </div>
                <a href="#one" class="more scrolly">Learn More</a>
            </section>

            <!-- One -->
            <section id="one" class="wrapper style1 special">
                <div class="inner">
                    <header class="major">
                        <h2>Introducing:<br />
                            Journalism Entrepreneurship
                            <br />Training Co.</h2>
                        <p>Hi, I'm Phillip Smith. I founded the Journalism Entrepreneurship Training Co. because I believe that <a href="https://medium.com/s/story/judgement-day-for-journalism-will-digital-news-startups-be-ready-to-face-the-challenge-613c0ca3b39c">small digital upstart news organizations will become the democracy-serving oases</a> in a time of growing news deserts.</p>

                        <p>That's why I'm working to build <a href="/workshops">workshops</a> and <a href="/bootcamp">intense trainings</a> that help to bring news startups to life. My laser focus is working with diverse founders who are leaving newsrooms to start audience-pay information businesses.</p>
                    </header>
                </div>
            </section>

            <!-- Two -->
            <section id="two" class="wrapper alt style2">
                <section class="spotlight">
                    <div class="image"><img src="/files/bootcamp-screenshot.jpg" alt="" /></div><div class="content">
                        <h2>Boot Camps</h2>
                        <p>Though an intense eight-week online boot camp, I provide laser-focused training and hands-on coaching to small cohorts of passionate journalists from around the US and Canada.</p>
                        <ul class="actions special">
                            <li><a href="/bootcamp" class="button secondary">Learn more &raquo;</a></li>
                        </ul>
                    </div>
                </section>
                <section class="spotlight">
                    <div class="image"><img src="/files/news-foundry-room.jpg" alt="" /></div><div class="content">
                        <h2>Workshops & Intensives</h2>
                        <p>Through regional three-day workshops, I strive to grow the movement of people working toward sustainable local news and information efforts, and to address the <a href="https://medium.com/@phillipadsmith/hey-friend-have-you-heard-of-the-journalism-innovation-pipeline-problem-8b83fe3b459b">innovation pipeline problem</a>.</p>
                        <ul class="actions special">
                            <li><a href="/workshops" class="button secondary">Learn more &raquo;</a></li>
                        </ul>
                    </div>
                </section>
                <section class="spotlight">
                    <div class="image"><img src="/files/phillip-smith-coaching.jpg" alt="" /></div><div class="content">
                        <h2>One-on-one coaching</h2>
                        <p>As needed, just-in-time support for journalism entrepreneurs who are preparing for a launch, or significant audience growth.</p>
                        <ul class="actions special">
                            <li><a href="/coaching" class="button secondary">Learn more &raquo;</a></li>
                        </ul>
                    </div>
                </section>
            </section>

            {% include section-three.html %}
            {% include section-cta.html %}
            {% include footer.html %}

        </div>

        {% include scripts.html %}

    </body>
</html>
